[Unit]
Description=Regen Validator - Cosmovisor Service
After=network.target
After=network-online.target
After=systemd-user-sessions.service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/code
Environment=DAEMON_NAME=regen
Environment=DAEMON_RESTART_AFTER_UPGRADE=true
Environment=DAEMON_HOME=/home/ubuntu/.regen
ExecStart=/home/ubuntu/code/go/bin/cosmovisor start
PIDFile=/var/lib/regen/regen_cosmovisor.pid
ExecStop=/bin/kill -s SIGKILL $MAINPID
SuccessExitStatus=SIGKILL
StandardOutput=append:/home/ubuntu/logs/regen/regen.log
StandardError=append:/home/ubuntu/logs/regen/regen.log
Restart=always
RestartSec=3
LimitNOFILE=4096
StartLimitInterval=350
StartLimitBurst=10
SyslogIdentifier=regen-cosmovisor
[Install]
WantedBy=multi-user.target

