[Unit]
Description=Regen Validator Service
After=network.target
After=network-online.target
After=systemd-user-sessions.service
StartLimitIntervalSec=0
[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=${HOME}/code
LimitNOFILE=4096
#Type=forking
# see https://www.freedesktop.org/software/systemd/man/systemd.service.html
ExecStart=${HOME}/code/go/bin/regen start
PIDFile=/home/ubuntu/.regen/regen.pid
ExecStop=/bin/kill -s SIGKILL $MAINPID
SuccessExitStatus=SIGKILL
StandardOutput=append:${HOME}/logs/regen/regen.log
StandardError=append:${HOME}/logs/regen/regen.log\
Restart=always
RestartSec=3
SyslogIdentifier=regen
[Install]
WantedBy=multi-user.target
