[Unit]
Description=Regen Validator Service
After=network.target
After=network-online.target
After=systemd-user-sessions.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/code
Group=ubuntu
LimitNOFILE=4096
#Type=forking
# see https://www.freedesktop.org/software/systemd/man/systemd.service.html
ExecStart=/home/ubuntu/code/go/bin/regen start
PIDFile=/var/lib/regen/regen_validator.pid
ExecStop=/bin/kill -s SIGKILL $MAINPID
SuccessExitStatus=SIGKILL
StandardOutput=file:/home/ubuntu/logs/regen/regen.log
StandardError=file:/home/ubuntu/logs/regen/regen.log
Restart=always
RestartSec=3
StartLimitInterval=350
StartLimitBurst=10
SyslogIdentifier=regen

[Install]
WantedBy=multi-user.target
